.container {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 20px;

  color: var(--section-text);
  background-color: var(--container-background);
}

.container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
